<div class="top-bar d-flex align-items-center">
    <div class="notif-label">New Notification</div>
    <div class="marquee-container">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            Streams: Science, Commerce & Arts | AC Hostel & AC Buses | Admissions Open for 2026-27 | Global
            Infrastructure
        </marquee>
    </div>
</div>

<nav class="navbar navbar-expand-lg sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.jpg" alt="School Logo" height="50">
            <div class="brand-text d-inline-block align-middle ms-2">
                <span class="d-block fw-bold school-name">Blossom World Sr. Sec. School</span>
                <span class="d-block tag-line">Enlighten and Empower</span>
            </div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home text-danger"></i></a></li>

                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDrop" role="button" data-bs-toggle="dropdown">
                        About
                    </a>
                    <ul class="dropdown-menu shadow">
    <li><a class="dropdown-item" href="/about/school">About The School</a></li>
    <li><a class="dropdown-item" href="/about/vision-and-mission">Vision & Mission</a></li>
    
    <li class="nav-item dropdown dropdown-submenu">
        <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#">
            Message 
        </a>
        <ul class="dropdown-menu shadow submenu-left">
            <li><a class="dropdown-item" href="/about/message/chairman">Chairman Message</a></li>
            <!-- <li><a class="dropdown-item" href="/about/message/founder">Founder's Message</a></li> -->
            <li><a class="dropdown-item" href="/about/message/director">Secretary Message</a></li>
            <li><a class="dropdown-item" href="/about/message/principal">Principal Message</a></li>
        </ul>
    </li>

    <li><a class="dropdown-item" href="/about/teachers-staff">Teachers & Staff</a></li>
    <li class="nav-item dropdown dropdown-submenu">
        <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#">
            Infrastructure
        </a>
        <ul class="dropdown-menu shadow submenu-left">
            <li><a class="dropdown-item" href="/about/infrastructure/birds-arena">Laboratory</a></li>
            <li><a class="dropdown-item" href="/about/infrastructure/hostels">Hostels (Home Away From Home)</a></li>
            <li><a class="dropdown-item" href="/about/infrastructure/equestrian-club">Play Ground</a></li>
            <li><a class="dropdown-item" href="/about/infrastructure/staff-cottages">Computer Laboratory</a></li>
            <li><a class="dropdown-item" href="/about/infrastructure/sports-arena">Library</a></li>
        </ul>
    </li>
    <li><a class="dropdown-item" href="/about/information">School Information</a></li>
    <li><a class="dropdown-item" href="/about/committee">Committee</a></li>
</ul>
                </li>

                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDrop" role="button" data-bs-toggle="dropdown">
                        Admission
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="/admission/process">Admission Procedure</a></li>
                        <li><a class="dropdown-item" href="/admission/form">Online Registration</a></li>
                        <li><a class="dropdown-item" href="/admission/re-admission">Re-Admission</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">
                        </i>Fee Structure</a></li>
                        <li><a class="dropdown-item" href="https://www.theummedinternationalschool.com/assets/front/docs/admission_syllabus_2019.pdf" target="_blank">Syllabus</a></li>
                        <li><a class="dropdown-item" href="/admission/rules">Rules & Regulations</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDrop" role="button" data-bs-toggle="dropdown">
                        Academics
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="/academics/overview">Academics Overview</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">School Routine</a></li>
                        
                    </ul>
                </li>
<!-- Beyond academics
Co Curricular Activities
Sports Events
Clubs
Boarding
Social Responsibility
NCC & Scouts -->
                <!-- <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDrop" role="button" data-bs-toggle="dropdown">
                        Life @ TUIS 
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="/lifeattuis/beyond-academics">Beyond academics</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/co-curricular-activities">Co Curricular Activities</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/sports-events">Sports Events</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/clubs">Clubs</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/boarding">Boarding</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/social-responsibility">Social Responsibility</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/ncc-scouts">NCC & Scouts</a></li>
                    </ul>
                </li> -->
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item dropdown hover-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDrop" role="button" data-bs-toggle="dropdown">
                        Updates 
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" href="/updates/notices">notices</a></li>
                        <li><a class="dropdown-item" href="/updates/news">News</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/sports-events">Events</a></li>
                        <li><a class="dropdown-item" href="/updates/blogs/republic-day">Blogs</a></li>
                        <li><a class="dropdown-item" href="/docs/downlods.pdf" target="_blank">Downloads</a></li>
                        <li><a class="dropdown-item" href="/lifeattuis/social-responsibility">Circular</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/login"><i class="bi bi-person-check-fill"></i></a> </li>
            </ul>
        </div>
    </div>
</nav>
