<% layout("layouts/boilerplate") %>
    <section class="page-banner">
        <div class="banner-motion"></div>
        <div class="banner-overlay"></div>

        <div class="container text-center banner-content">
            <h2 class="banner-title" data-aos="fade-down">About Our School</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>

        <svg class="banner-wave wave-back" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-mid" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-front" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>
    </section>
    <section class="who-we-are ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="who-we-are-content">
                            
                            <p><div class="container">
<div class="row y-middle">
<div class="col-md-12">
<p>Academics is the mainstay of the school. It is the pivot that holds everything else around it. Each day 5 to 6 hours are structured and designed to impart the formal academic curriculum of the school. The Academic ethos at The Ummed International School is propelled by the idea to develop in our students a sense of imagination and creativity. We encourage the young children to think outside the box &ndash; tangentially and laterally. We wish to create an experience that the child shall remember for the rest of his life with a sense of fulfilment and pride. A set of committed Facilitators understand the needs of the young students and hand hold them through this experience. The children are encouraged to move beyond the classroom, explore the campus as a classroom, experiment with their environs around them and learn from this valuable interaction. Flip Classroom is encouraged to develop a sense of Self Learning, saving valuable time and providing an opportunity to the facilitators and educators to deliver more in the stipulated time.</p>

<p>We also understand the need to identify Multiple Intelligences and introduce Differentiated Learning to attain better learning outputs. There is an attempt to bring every subject on the level playing field by introducing Multidisciplinary, Cross Disciplinary and Interdisciplinary approaches towards learning. Children learn things in many ways and the best approach to help them learn is to teach them by identifying the concepts that are common to different subjects by making the lesson wholesome and fruitful. The rich Outbound Programmes provide Experiential Learning to our children where they learn by doing. Social Service too is integrated with the academic Curriculum of the school to bring it closer to life and its responsibilities.</p>

<p>The academic Curriculum is also designed to foster in children a sense of empathy, their responsibility to the society at large and help them develop as natural global leaders. A major emphasis is laid on Communication strategies to enable the children to connect with others and help them convey their feelings and intent. They can&rsquo;t think till the time they can connect with themselves, and communicate with others what they think. Regular Assessment and Evaluation allows us to discover whether our teaching-learning strategies are working or not. If not, it allows us the opportunity to redesign them keeping in mind the specific needs of our children.</p>

<p>The lessons are integrated with Technology to enable the children to relate to the concepts being taught. The Screen Experience is so integral and relatable to today&rsquo;s generation that we wish to capitalize on it for Teaching-Learning interactions and processes.</p>

<p>For the Academic Session 2026-&rsquo;27 we shall admit students from Classes Nursery to IX & XI  and offer them the AHSEC Curriculum. The medium of instruction and interaction is English. We stress on the need to develop felicity in verbal and written language and it&rsquo;ll be offered as Language I. Hindi & Bengali will be Language II .</p>


<p>The Staff Development Programme at the school is extremely vital to equip the staff with the latest and best educational practices and pedagogies. We have a continuous and vibrant programme for the Staff wherein they are trained by national and international experts in various fields. The school also has Special Educators and Career Counsellors to help the children plan their future study and chart their academic careers. We also have a well qualified and experienced Mental Health Counsellor to talk to the growing children through their various challenges.</p>

<p><strong>CURRICULUM</strong></p>

<ul>
	<li>The school is affiliated to &amp; follows AHSEC curriculum. Activities of art &amp; craft, sports activities and CCA altogether forms the curriculum of the school</li>
	<li><b>Co-scholastic activities:- </b>The school believes in the skills and birth qualities of a human being. We are committed to give all the opportunities to the student as an individual to be able to bring out all the qualities in him and get to know him better by participating in various competitions that provide the chance to the students to experience themselves. We can realise the potential inside only when we get indulged in the activity and experience. We make sure that the students get every chance to experience themselves through academics, activities, competitions and various participations. We let the individual grow inside a healthy &amp; strong body with the mind so creative and happy that the character thus built is moralistically pure, honest and hardworking. The kind of generation we look forward to in the coming generation.</li>
	<li><b>Education:-</b> Education is learning how to learn. We provide the harmonious balance of academics and skill development in the child. The education is not two faceted but value based. We focus on making the students physically strong and mentally wise and kind toward each and every other being and the environment he lives in.</li>
</ul>
<a class="btn btn-read-more mt-4" href="#" title="School Routine" target="_blank">School Routine</a></div>
</div>
</div>
</p>

                        </div>
                    </div>
                </div>
            </div>
  </section>