<% layout("layouts/boilerplate") %>
    <section class="page-banner">
        <div class="banner-motion"></div>
        <div class="banner-overlay"></div>

        <div class="container text-center banner-content">
            <h2 class="banner-title" data-aos="fade-down">About Our School</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>

        <svg class="banner-wave wave-back" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-mid" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-front" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>
    </section>
    <section class="who-we-are ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="who-we-are-content">

                        <p>
                        <div class="col-md-12">
                            <p><b>ADMISSION PROCEDURE</b><br />
                                1. Prospectus along with the Registration Form can be obtained from the School Office on
                                all working days either on Cash Payment of 500/- or by post by sending Demand Draft of
                                550/- in favour of The Blossom World Senior Secondary School drawn on HDFC Bank payable at Sonai
                                Road.<br />
                                2. The Registration for classes Nursery to XII is open to all, irrespective of social
                                status, religion or community.<br />
                                3. Registration is mandatory for admission. No student can be considered for admission
                                unless the child is already registered. Registration fee is Rs. 1500/-.<br />
                                4. The name of the applicant will be registered on receipt of the Registration Form for
                                admission duly completed. Kindly pay attention while entering the Name and Date of Birth
                                of the child.<br />
                                5. Verification of the Registration Form will be done by the Admission Office
                                Incharge.<br />
                                6. Duly completed Registration Form signed by the parents, along with the Registration
                                Fee is to be submitted in the School Office or sent by Speed Post.<br />
                                7. The acceptance of the Registration Form and the Registration Fee by the school is by
                                no means an obligation of the school to provide admission.</p>

                            <p><b>Registration Fee</b><br />
                                1. The Registration Fee 1500/- is to be paid through the Demand Draft.<br />
                                2. The Demand Draft should be in favour of The Blossom World Senior Secondary School drawn on HDFC Bank payable at Sonai Road, A/c name The Blossom World Senior Secondary School, A/c no.
                                5020 0079 6229 80, IFSC Code HDFC0004247. The same may be transferred through NEFT
                                also.<br />
                                3. The Registration Form can also be downloaded from the school&rsquo;s website&nbsp;<a
                                    href="http://www.theblossomworld.com/">http://www.theblossomworld.com&nbsp;</a>.
                                In case the Registration Form is downloaded then additional 550/- is to be remitted
                                along with the registration fee 1500 + 550=2050/-. The prospectus will be sent by post
                                once the Admission Office receives the duly completed Registration Form along with the
                                Registration Fee.<br />
                                4. The Registration fee deposited is non-refundable and non-transferable in all
                                situations, circumstances and outcomes.<br />
                                5. Admission fee Rs. 5000/- to be paid one time at the time of admission is non-
                                refundable and non-transferable in all situations, circumstances and outcomes.</p>

                            <p><b>Documents for Registration</b><br />
                                1. The following documents are to be submitted with the Registration Form<br />
                                a. Registration Fee<br />
                                b. Original Birth Certificate of the student along with a photocopy of the same. The
                                original certificate will be returned after due verification. The birth certificate
                                should be issued by the Municipal Corporation or any other competent authority. No
                                request for change of Date of Birth shall be entertained under any circumstances by the
                                school<br />
                                c. Photocopy of the Mark Sheet of the last Exam taken.<br />
                                d. One recent passport size coloured photograph of the child with a light background 2.
                                After the registration, Admit Card for the Aptitude Assessment will be sent to the
                                address mentioned in the Registration Form. Please ensure the communication address and
                                the email address is clearly mentioned in the Registration Form.</p>

                            <p><b>Aptitude Assessment and Interactive Session</b><br />
                                1. The Aptitude Assessment is specifically designed to explore the academic inclination
                                and potential in English, Hindi, Bengali and Mathematics, within the purview of the syllabi
                                defined for the specific class in which he/she is currently studying.<br />
                                2. Those candidates who qualify are invited for personal interaction. The Parents are
                                expected to accompany their children to meet the School Admission Committee. The
                                personal interaction explores the child&#39;s educational development, use of language,
                                social skills, academic and co-curricular interests. The aim of the interaction is to
                                find what the child knows, understands and enjoys and also to find out the level of
                                adaptability of the child to the Residential School setup. 3. At the time of the
                                Aptitude Assessment the child must be studying in one class lower than the one he/she is
                                seeking admission into.</p>
                            <br />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2"><b>Age Criteria</b></th>
                                    </tr>
                                    <tr>
                                        <th>Admission Class</th>
                                        <th>AGE CRITERIA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nursery</td>
                                        <td>3 to 3.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>LKG</td>
                                        <td>3.5 to 4.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>UKG</td>
                                        <td>4.5 to 5.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class I</td>
                                        <td>5.5 to 6.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class II</td>
                                        <td>6.5 to 7.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class III</td>
                                        <td>7.5 to 8.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class IV</td>
                                        <td>8.5 to 9.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class V</td>
                                        <td>9.5 to 10.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class VI</td>
                                        <td>10.5 to 11.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class VII</td>
                                        <td>11.5 to 12.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class VIII</td>
                                        <td>12.5 to 13.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class IX</td>
                                        <td>13.5 to 14.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class X</td>
                                        <td>14.5 to 15.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                    <tr>
                                        <td>Class XI</td>
                                        <td>15.5 to 16.5 years old as on 1st April of the new academic year</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>Admission offer letters are sent to the candidates who are selected on the basis of their
                                performance in the Aptitude Assessment. Admission stands cancelled, if the Fee is not
                                paid within the time stipulated in the offer letter. The School reserves the right to
                                refuse admission without assigning any reason. The School Management&rsquo;s decision in
                                this regard shall be final and abiding</p>

                            <p>&nbsp;</p>

                            <h4>Documents for Admission</h4>

                            <p>(i). Original Transfer Certificate<br />
                                &nbsp;</p>

                            <p><strong>Note:</strong><br />
                                1. If the Transfer Certificate, in original, is not submitted, either on the date of
                                joining or within 30 days of the date of joining, the student&rsquo;s admission will be
                                cancelled and the name will be removed from the school&#39;s roll.<br />
                                2. Details like the Candidate&#39;s name, Father&rsquo;s name, Mother&rsquo;s name and
                                Date of Birth furnished in the Registration Form must match exactly with the details
                                given in the Transfer Certificate.</p>

                            <p><br />
                                (ii). Photocopy of the Birth Certificate<br />
                                (iii). Photocopy of the Mark Sheet of the last promotion examination taken in the
                                previous school indicating promotion to the next class along with Character
                                Certificate.<br />
                                (iv). Photocopy of the Aadhar Card of Father, Mother and the Candidate.<br />
                                (v). Photocopy of the Aadhar Card of the Local Guardian (Only for Boarders).<br />
                                (vi). Four recent passport size coloured photographs of the child with a light
                                background<br />
                                (vii). Child&rsquo;s recent postcard size coloured photograph with both parents/legal
                                guardian with a light background<br />
                                (viii). Two recent passport size coloured photographs of local guardian, (Only for
                                Boarders), with a light background<br />
                                (ix). If the child belongs to any of the SC/ST/OBC categories, attach the attested copy
                                of the certificate issued by the competent authority.<br />
                                (x).Proof of Brother and / or Sister seeking admission in school.<br />
                                (xi). Certificate in case of child with special needs<br />
                                (xii). Duly filled Medical Form (provided by school)<br />
                                (xiii). Undertakings on the prescribed format<br />
                                (xiv). Indemnity Bond on non-judicial stamp paper as per the draft given by the school.
                            </p>
                        </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>