
<form action="/d/listing" method="POST" enctype="multipart/form-data">

<input type="text" name="listing[username]" placeholder="Username" required>
<input type="file" name="listing[image]">
<button>submit</button>
</form>