<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Deleted Listings</h1>
    <ul>
        <% listings.forEach(list => { %>
            <li><%= list.username %> - <img src="<%= list.image.url %>" alt="Listing Image" width="100"></li>
            <a href="/d/listing/<%= list._id %>/view">View Listings</a>
        <% }) %>

        
</body>
</html>