<% layout("layouts/boilerplate") %>
    <section class="page-banner">
        <div class="banner-motion"></div>
        <div class="banner-overlay"></div>

        <div class="container text-center banner-content">
            <h2 class="banner-title" data-aos="fade-down">About Our School</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>

        <svg class="banner-wave wave-back" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-mid" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-front" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>
    </section>


    <section class="gallery-section py-5">
    <div class="container">
        <div class="row g-4">

            <div class="col-md-4" data-aos="fade-up">
                <a href="/gallery/school" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/mainBanner.jpeg" alt="School" class="img-fluid">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">School</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <a href="/gallery/sports" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/caltural.jpeg" alt="All Sports" class="img-fluid">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">Cultural Program</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <a href="/gallery/equestrian" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/LABO.jpeg" alt="Equestrian" class="img-fluid">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">Laboratory</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <a href="/gallery/campus" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/fasality1.png" alt="Campus Life" class="Classroom Activities">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">Classroom Activities</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
                <a href="/gallery/events" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/banner5.jpeg" alt="Republic Day Celebration" class="img-fluid">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">Republic Day Celebration</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
                <a href="/gallery/infrastructure" class="gallery-link">
                    <div class="gallery-card">
                        <div class="gallery-img-container">
                            <img src="/img/gallary4.jpeg" alt="Achievements" class="img-fluid">
                        </div>
                        <div class="gallery-caption">
                            <h5 class="gallery-title">Achievements</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>