<% layout("layouts/boilerplate") %>
    <section class="page-banner">
        <div class="banner-motion"></div>
        <div class="banner-overlay"></div>

        <div class="container text-center banner-content">
            <h2 class="banner-title" data-aos="fade-down">About Our School</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>

        <svg class="banner-wave wave-back" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-mid" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-front" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>
    </section>


    <section class="facilities-activities-section py-5">
        <div class="container text-center">
            <img src="https://www.theummedinternationalschool.com/assets/front/img/value/value-shape-1.png"
                class="shape-decor shape-top-left1" alt="Sun">
            <div class="shape-decor shape-top-right-bg1"></div>
            <img src="https://www.theummedinternationalschool.com/assets/front/img/value/value-shape-2.png"
                class="shape-decor shape-bottom-left1" alt="Pencil">

            <h4 class="cursive-sub">Our Highlights</h4>
            <h2 class="section-main-title mb-5">Facilities & Activities</h2>

            <div class="row align-items-center">


                <div class="col-lg-6 text-center">
                    <svg width="0" height="0">
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  
              0 1 0 0 0  
              0 0 1 0 0  
              0 0 0 20 -10" />
                        </filter>
                    </svg>
                    <div class="blob-wrapper">
                        <div class="liquid-shape liquid-1"></div>
                        <div class="liquid-shape liquid-2"></div>
                        <div class="blob-img" style="animation: unset; border:none">
                            <img src="/img/horse-riding-at-ummed-school.jpg" alt="Liquid Blob">
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 text-start">
                    <div class="facility-item">
                        <span class="facility-num num-01">01</span>
                        <div class="facility-text">
                            <h3>Max Quad Sharing</h3>
                            <p>Maintaining the ease and learning atmosphere any room has maximum of 4 sharing and no bunker beds.</p>
                        </div>
                    </div>
                    <div class="facility-item">
                        <span class="facility-num num-02">02</span>
                        <div class="facility-text">
                            <h3>Evening Activities</h3>
                            <p>The hostelers are trained personally in their interested sports or academic learning.</p>
                        </div>
                    </div>
                    <div class="facility-item">
                        <span class="facility-num num-03">03</span>
                        <div class="facility-text">
                            <h3>Separate Girls Hostel</h3>
                            <p>The boys and girls hostel are in separate buildings, with secured premises and dedicated staff.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>