<% layout("layouts/boilerplate") %>
    <section class="page-banner">
        <div class="banner-motion"></div>
        <div class="banner-overlay"></div>

        <div class="container text-center banner-content">
            <h2 class="banner-title" data-aos="fade-down">About Our School</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </nav>
        </div>

        <svg class="banner-wave wave-back" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-mid" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>

        <svg class="banner-wave wave-front" viewBox="0 0 1440 120" preserveAspectRatio="none">
            <path
                d="M0,40 C120,80 240,0 360,20 480,40 600,100 720,90 840,80 960,20 1080,10 1200,0 1320,40 1440,60 L1440,120 L0,120 Z">
            </path>
        </svg>
    </section>

    <section class="who-we-are ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="who-we-are-content">
                            
                            <p><p><b>Beyond academics:- </b><br />
The Cultural Activities are at the core of school life and The Ummed International School is no different. The rich and vibrant Cultural Programme of the school enables us to fulfil our objective of providing holistic education. Public Speaking, Story Telling, Dramatics, Debating, Western Music, Indian Music, Art and Craft, History, Geography and many other Societies have been formed keeping in mind the need to nurture future leaders.<br />
a) While the Cultural Activities give the children confidence, they also help them explore different strata of their hearts and minds to find order and meaning in their tumultuous adolescent years. Such activities allow them to voice their views, however unorthodox. We attempt to churn something within, something that shakes and simmers and seethes inside, gestates and finally manifests itself in words, or mere cacophony, or may be a beat here, a flourish there.</p>
</p>
                        </div>
                    </div>
                </div>      
            </div>
    </section>

    <!-- Gallary -->
<section class="gallery-section py-5">
    <div class="container text-center">

        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img1.jpg" alt="Gallery Image 1">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img2.jpg" alt="Gallery Image 2">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img3.jpeg" alt="Gallery Image 3">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img4.jpg" alt="Gallery Image 4">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img5.jpg" alt="Gallery Image 5">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-card">
                    <div class="gallery-img-box">
                        <img src="/img/moment_img6.jpeg" alt="Gallery Image 6">
                        <div class="gallery-overlay">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>